.users-container {
    width: 100%;
    color: #fff;
    padding: 20px;
    height: 100vh;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .users-heading {
    padding: 5px;
    border-bottom: 1px solid #fff;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }
  .users-tabel-box{
    width: 100%;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .users-tabel-box table{
   min-width: 100vw;
  }
  .users-tabel-box table th{
    border: 1px solid #fff;
  }

  .users-tabel-box table td{
    padding: 2px 10px;
    text-align: center;
  }
  