* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  body {
    background: linear-gradient(#0d1117, #1a1e29);
    height: 100vh;
  }
  .active {
    color: rgb(242, 0, 255) !important;
  }
  a {
    display: flex;
    align-items: center;
  }
  a i {
    margin-right: 5px;
  }
  .admin-sidebar-container {
    height: 100vh;
    color: #fff;
    padding: 20px;
  }
  .admin-sidebar-container .admin-sidebar-section {
    border-right: 1px solid #fff;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 100%;
    width: 40vh;
    padding: 0px 20px 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .admin-sidebar-logo-profilename {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .admin-sidebar-logo-profilename p {
    font-weight: 600;
    margin: 10px 0px;
  }
  
  .admin-sidebar-list ul {
    list-style: none;
    display: flex;
    flex-direction: column;
  }
  .admin-sidebar-list ul a li {
    font-weight: 600;
    list-style: none;
  }
  .admin-sidebar-list ul a {
    margin: 20px 10px;
    color: #fff;
    text-decoration: none;
  }